.optionsModule {
    position: absolute;
    display: none;
    padding: 4px;
    background: var(--color-dark-panel);
    border-radius: 4px;
    width: 0;
    height: 0;
    filter: blur(10px);
    opacity: 0;
    box-shadow: 0 0 10px 1px rgba(0,0,0,0.4);
    transition: var(--transition-hover);
}

.renameTableBtn, .deleteTableBtn {
    height: fit-content;
    width: fit-content;
    text-align: center;
    background: none;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 4px;
    font-size: 24px;
    padding: 0 12px;
    transition: var(--transition-hover);
}

.renameTableBtn:hover, .deleteTableBtn:hover {
    background: rgba(0, 0, 0, 0.2);
}