.tabsList {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    height: 100%;
}

.addNewTab {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 100%;
}

.addNewTabBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
    transition: var(--transition-hover);
}

.addNewTabBtn:hover {
    background: rgba(0, 0, 0, 0.2);
}