.personalTable {
    display: flex;
    width: 100%;
    height: fit-content;
    flex-direction: column;
    margin-top: 8px;
    align-items: center;
}

.personalHead {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.personalHead span {
    font-size: 18px;
    font-weight: 600;
    color: var(--color-dark-text);
    margin-left: 20px;
}

.addNewPersonalNotebook {
    display: flex;
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 6px;
    margin-right: 14px;
    background: none;
    transition: var(--transition-hover);
}

.addNewPersonalNotebook img {
    width: 14px;
    opacity: 0;
    transition: var(--transition-hover);
}

.personalHead:hover > .addNewPersonalNotebook img {
    opacity: 1;
}

.addNewPersonalNotebook:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.2);
}