.userSection {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.userBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    padding: 8px;
    width: fit-content;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    border: none;
    outline: none;
    cursor: pointer;
    transition: var(--transition-hover);
}

.userBtn:hover {
    background: rgba(0, 0, 0, 0.4);
}

.userAvatar {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    background: white;
}

.userName {
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
    width: 156px;
}