.notebookCard {
    display: flex;
    width: 100%;
    height: fit-content;
    flex-direction: column;
    margin-top: 8px;
    align-items: center;
    padding: 0 12px;
}

.notebookIcon {
    height: 100%;
    border-radius: 6px;
    cursor: pointer;
}

.notebookIcon:hover {
    background: rgba(0, 0, 0, 0.2);
}

.notebookHead {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px;
    border-radius: 8px;
    transition: var(--transition-hover);
}

.notebookHead:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.notebookHead span {
    flex-grow: 1;
    font-size: 24px;
    line-height: 1;
    font-weight: 600;
    color: var(--color-dark-text);
    margin-left: 8px;
    cursor: default;
}

.notebookCardButtons {
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    align-items: center;
    justify-content: center;
    gap: 4px;
    position: relative;
}

.notebookHead:hover >.notebookCardButtons img {
    opacity: 1;
}